.dashboard-layout {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.dashboard-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--c-gray-100);
    margin-left: 250px;
    /* sidebar width */
    padding-top: 64px;
    /* header height */
    min-height: 100vh;
    overflow: hidden;
}

.dashboard-content {
    flex: 1;
    padding: 32px;
    overflow-y: auto;
    height: calc(100vh - 64px);
    box-sizing: border-box;
}